[Unit]
Description=Digital Me server
After=syslog.target network.target

[Service]
Type=simple
#User=DIME_USER
#Group=DIME_GROUP
ExecStart=$DIME_INSTALL_DIR/bin/run-dime.sh

[Install]
WantedBy=default.target
