.classpath
/.gradle/
/build/
*~
HOWTO
*.pyc
/loggers/desktop/*.ini
/loggers/desktop/*.plist
/loggers/desktop/*.json
/loggers/desktop/*.xml
/loggers/desktop/imr
/loggers/keylogger/data*
/loggers/keylogger/*.npy
/loggers/keylogger/suggested_pages.txt
/loggers/keylogger/typedwords.txt
/loggers/keylogger/user.ini
/config/application-local.properties
/scripts/dime-elements.json
/scripts/dime-events.json
/loggers/keylogger/*.png
/loggers/keylogger/*.pdf
/bin/
/node_modules/
/src/main/resources/db/changelog/db.changelog-master.xml.bak
/scripts/fitbit/fitbit.cfg
/scripts/fitbit/env

npm-debug.log
/src/main/resources/static/.htaccess
/src/main/resources/static/*.js
/src/main/resources/static/*.css
/src/main/resources/static/*.ico
/src/main/resources/static/index.html
/src/main/resources/templates/index.html
/src/main/resources/static/manifest.json
graph.xdi
