/.gradle/
/build/
*~
HOWTO
*.pyc
/loggers/desktop/*.ini
/loggers/desktop/*.plist
/loggers/desktop/*.json
/loggers/desktop/*.xml
/loggers/desktop/imr
/loggers/keylogger/data*
/loggers/keylogger/*.npy
/loggers/keylogger/suggested_pages.txt
/loggers/keylogger/typedwords.txt
/loggers/keylogger/user.ini
/config/application-local.properties
/scripts/dime-elements.json
/scripts/dime-events.json
/loggers/keylogger/*.png
/loggers/keylogger/*.pdf
