/.gradle/
/build/
*~
HOWTO
*.pyc
/loggers/desktop/*.ini
/loggers/desktop/*.plist
/loggers/desktop/*.json
/loggers/desktop/*.xml
/loggers/desktop/imr
/loggers/keylogger/data*
/loggers/keylogger/*.npy
/loggers/keylogger/suggested_pages.txt
/loggers/keylogger/typedwords.txt
/loggers/keylogger/user.ini
/loggers/keylogger/*.png
/loggers/keylogger/*.pdf
/config/application.properties
