# If you wish to override the default configuration, copy this file to
# application-local.properties and edit below

# For example ...

# Changing server port
# server.port=8080

# If you change the port or domain name 
# dime.baseUri=http://localhost:8080/

# Using MySQL instead of H2
# spring.datasource.url=jdbc:mysql://localhost:3306/dime
# spring.datasource.username=dime
# spring.datasource.password=sikritpassword
# spring.datasource.driverClassName=com.mysql.jdbc.Driver

# To see general debugging output
# logging.level.fi.hiit.dime=DEBUG

# For debugging SQL commands
# spring.jpa.show-sql=true
# logging.level.org.hibernate=TRACE

# Use EnglishAnalyzer for Lucene instead of the default
# StandardAnalyzer
# dime.luceneAnalyzer=English

# To enable CORS for a given domain
# dime.corsAllowOrigin=http://localhost:3000,chrome-extension://beidaccpdlllohiaoglaeclolnfheeac

# To point to an alternate people finder service
# dime.peoplefinderEndpoint=http://localhost:7401/xdi/graph
