spring.mvc.favicon.enabled=false
server.port=8080
dime.useLucene=false
dime.luceneIndexPath=${user.home}/dime-lucene

spring.datasource.url = jdbc:h2:file:~/.dime/database/h2
spring.datasource.username = sa
spring.datasource.password = sa
spring.datasource.driverClassName = org.h2.Driver

# spring.datasource.url=jdbc:mysql://localhost:3306/dime
# spring.datasource.username=dime
# spring.datasource.password=sikritpassword
# spring.datasource.driverClassName=com.mysql.jdbc.Driver

# FIXME: http://stackoverflow.com/questions/221379/hibernate-hbm2ddl-auto-update-in-production
spring.jpa.hibernate.ddl-auto = update

# For debugging SQL commands
#spring.jpa.show-sql=true

# To see general debugging output
# logging.level.fi.hiit.dime=DEBUG
# logging.level.org.hibernate=TRACE

