<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bootstrap :: head"></head>
<body>
  <div th:replace="bootstrap :: navbar (event)"></div>

    <div class="container">

      <div class="starter-template">
	  <p th:fragment="eventview (event)">
	    <b>ID:</b> <a th:href="@{/event(id=${event.id})}" th:text="${event.id}"></a>
	    <b>Origin:</b> <span th:text="${event.origin}"></span>
	    <b>Actor:</b> <span th:text="${event.actor}"></span><br/>
	    <b>Type:</b> <a th:if="${event.type}" th:href="${event.type}" 
			    th:text="${#strings.substringAfter(event.type,'#')}"></a><br/>
	    <b>Time:</b> <span th:text="${event.start}"></span><br/>

	    <span th:if="${event instanceof T(fi.hiit.dime.data.FunfEvent)}">
	      <b>Probe name:</b> <span th:text="${event.probeName}"></span><br/>
	      <b>Funf value:</b> <pre th:text="${event.funfValue}"></pre><br/>
	    </span>

	    <!-- <span th:if="${event.tags}"> -->
	    <!--   <b>Tags:</b>  -->
	    <!--   <span th:each="tag : ${event.tags}" -->
	    <!-- 	    th:text="${tag}" -->
	    <!-- 	    class="label label-default"> -->
	    <!--   </span><br/> -->
	    <!-- </span> -->

        <span th:if="${event.location}">
            <b>Location</b><br/>
            <b>Coordinates:</b> <a th:href="@{https://www.google.com/maps/} + '?' + 'q=' + 
                                            ${#numbers.formatDecimal(event.location.latitude, 0, 'COMMA', 4, 'POINT')} + ',' + 
                                            ${#numbers.formatDecimal(event.location.longitude, 0, 'COMMA', 4, 'POINT')}">
                <span th:text="${#numbers.formatDecimal(event.location.latitude, 0, 'COMMA', 4, 'POINT')}"></span>
                , <span th:text="${#numbers.formatDecimal(event.location.longitude, 0, 'COMMA', 4, 'POINT')}"></span></a>
          . <b>Description:</b> <span th:text="${event.location.descriptionLine}"></span>
        </span>
	    <br/>

	    <span th:if="${event instanceof T(fi.hiit.dime.data.SearchEvent)}">
	      <b>Query:</b> <span th:text="${event.query}"></span><br/><br/>
	    </span>

      <span th:if="${event instanceof T(fi.hiit.dime.data.ReadingEvent)}">
        <b>Start Time:</b> <span th:text="${event.start}"></span>, <b>End Time:</b> <span th:text="${event.end}"></span><br/><br/>
        <b>Text content:</b> <pre th:text="${event.plainTextContent}"></pre><br/>
        <b>Rectangles:</b>
          <table class="table">
            <thead><tr>
                <th>Page no.</th>
                <th>X</th>
                <th>Y</th>
                <th>Width</th>
              <th>Height</th>
              <th>Class</th>
              <th>Class source</th>
              <th>Scale factor</th>
              <th>PeyeDF</th>
            </tr></thead>
            <tbody>
              <tr th:each="rect, iterationStatus : ${event.pageRects}"
                th:with="rectx=${#numbers.formatDecimal(rect.origin.x, 0, 'COMMA', 2, 'POINT')},
                         recty=${#numbers.formatDecimal(rect.origin.y, 0, 'COMMA', 2, 'POINT')},
                         rectw=${#numbers.formatDecimal(rect.size.width, 0, 'COMMA', 2, 'POINT')},
                         recth=${#numbers.formatDecimal(rect.size.height, 0, 'COMMA', 2, 'POINT')}">
                <td th:text="${rect.pageIndex}"></td>
                <td th:text="${rectx}"></td>
                <td th:text="${recty}"></td>
                <td th:text="${rectw}"></td>
                <td th:text="${recth}"></td>
                <td th:text="${rect.readingClass}"></td>
                <td th:text="${rect.classSource}"></td>
                <td th:text="${#numbers.formatDecimal(rect.scaleFactor, 1, 'COMMA', 5, 'POINT')}"></td>
                <td><a th:href="@{'peyedf://refinder/'+${event.sessionId}(page=${rect.pageIndex},rect='('+${rectx}+','+${recty}+','+${rectw}+','+${recth}+')')}">link</a></td>
              </tr>
            </tbody>
          </table>
      </span>

      <span th:if="${event instanceof T(fi.hiit.dime.data.CalendarEvent)}">
        <b>Start Time:</b> <span th:text="${event.start}"></span>, <b>End Time:</b> <span th:text="${event.end}"></span><br/><br/>
        <b>Event name:</b> <span th:text="${event.name}"></span>, <b>Location:</b> <span th:text="${event.locString}"></span><br/>
        <b>Calendar:</b> <span th:text="${event.calendar}"></span>, <b>Notes:</b> <span th:text="${event.notes}"></span><br/>
        <b>Participants:</b>
          <table class="table">
              <thead><tr>
                      <th>First name</th>
                      <th>Last name</th>
                      <th>e-mail</th>
              </tr></thead>
            <tbody>
                <tr th:each="participant, iterationStatus : ${event.participants}">
                    <td th:text="${participant.firstName}"></td>
                    <td th:text="${participant.lastName}"></td>
                    <td th:text="${participant.emailAccount}"></td>
                </tr>
            </tbody>
          </table>
      </span>

	    <span th:if="${event instanceof T(fi.hiit.dime.data.ResourcedEvent)}">
	      <p th:replace="infoelem :: infoelemview (${event.targettedResource})"></p>
	    </span>
	  </p>
      </div>
    </div>
    
  <div th:replace="bootstrap :: js"></div>
</body>
</html>
