<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bootstrap :: head"></head>
<body>
  <div th:replace="bootstrap :: navbar (event)"></div>

    <div class="container">

      <div class="starter-template">
	  <p th:fragment="eventview (event)">
	    <b>ID:</b> <a th:href="@{/event(id=${event.id})}" th:text="${event.id}"></a>
	    <b>Origin:</b> <span th:text="${event.origin}"></span>
	    <b>Actor:</b> <span th:text="${event.actor}"></span><br/>
	    <b>Type:</b> <a th:href="${event.type}" 
			    th:text="${#strings.substringAfter(event.type,'#')}"></a>
	    <b>Time:</b> <span th:text="${event.start}"></span><br/><br/>

	    <span th:if="${event instanceof T(fi.hiit.dime.data.SearchEvent)}">
	      <b>Query:</b> <span th:text="${event.query}"></span><br/><br/>
	    </span>

        <span th:if="${event instanceof T(fi.hiit.dime.data.ReadingEvent)}">
          <b>Start Time:</b> <span th:text="${event.start}"></span>, <b>End Time:</b> <span th:text="${event.end}"></span><br/><br/>
          <b>Scale factor:</b> <span th:text="${event.scaleFactor}"></span><br/><br/>
          <b>Text content:</b> <pre th:text="${event.plainTextContent}"></pre><br/>
          <b>Rectangles:</b>
            <table class="table">
                <thead><tr>
                        <th>Page no.</th>
                        <th>X</th>
                        <th>Y</th>
                        <th>Width</th>
                        <th>Height</th>
                        <th>Class</th>
                        <th>Class source</th>
                </tr></thead>
              <tbody>
                  <tr th:each="rect, iterationStatus : ${event.pageRects}">
                      <td th:text="${event.visiblePageNumbers[iterationStatus.index]}"></td>
                      <td th:text="${#numbers.formatDecimal(rect.origin.x, 0, 'COMMA', 2, 'POINT')}"></td>
                      <td th:text="${#numbers.formatDecimal(rect.origin.y, 0, 'COMMA', 2, 'POINT')}"></td>
                      <td th:text="${#numbers.formatDecimal(rect.size.width, 0, 'COMMA', 2, 'POINT')}"></td>
                      <td th:text="${#numbers.formatDecimal(rect.size.height, 0, 'COMMA', 2, 'POINT')}"></td>
                      <td th:text="${rect.readingClass}"></td>
                      <td th:text="${rect.classSource}"></td>
                  </tr>
              </tbody>
            </table>
        </span>

	    <span th:if="${event instanceof T(fi.hiit.dime.data.ResourcedEvent)}">
	      <p th:replace="infoelem :: infoelemview (${event.targettedResource})"></p>
	    </span>
	  </p>
      </div>
    </div>
    
  <div th:replace="bootstrap :: js"></div>
</body>
</html>
