<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bootstrap :: head"></head>
<body>
  <div th:replace="bootstrap :: navbar (event)"></div>

    <div class="container">

      <div class="starter-template">
	  <p th:fragment="eventview (event)">
	    <b>ID:</b> <a th:href="@{/event(id=${event.id})}" th:text="${event.id}"></a>
	    <b>Origin:</b> <span th:text="${event.origin}"></span>
	    <b>Actor:</b> <span th:text="${event.actor}"></span><br/>
	    <b>Type:</b> <a th:href="${event.type}" 
			    th:text="${#strings.substringAfter(event.type,'#')}"></a>
	    <b>Time:</b> <span th:text="${event.start}"></span><br/><br/>

	    <span th:if="${event instanceof T(fi.hiit.dime.data.SearchEvent)}">
	      <b>Query:</b> <span th:text="${event.query}"></span><br/><br/>
	    </span>

	    <div th:if="${event.targettedResource}">
	      <p th:replace="infoelem :: infoelemview (${event.targettedResource})"></p>
	    </div>
	  </p>
      </div>
    </div>
    
  <div th:replace="bootstrap :: js"></div>
</body>
</html>
