<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bootstrap :: head"></head>
<body>
  <div th:replace="bootstrap :: navbar (infoelem)"></div>

    <div class="container">

      <div class="starter-template">

	  <p th:fragment="infoelemview (elem)">
	      <b th:text="${elem.class}"></b><br/>
	      <b>ID:</b> <a th:href="@{/infoelem(id=${elem.id})}" th:text="${elem.id}"></a>
	      <b>URI:</b> <a th:href="${elem.uri}" 
			     th:text="${elem.uri}"></a><br/>
	      <span th:if="${elem.type}">
		<b>Type:</b> <a th:href="${elem.type}" 
				th:text="${#strings.substringAfter(elem.type,'#')}"></a><br/>
	      </span>
	      <span th:if="${elem.isStoredAs}">
		<b>Stored as:</b> <a th:href="${elem.isStoredAs}" 
				     th:text="${#strings.substringAfter(elem.isStoredAs,'#')}"></a><br/>
	      </span>

	      <span th:if="${elem instanceof T(fi.hiit.dime.data.Document)}">
		<b>Title:</b> <span th:text="${elem.title}"></span><br/>
		<b>Mimetype:</b> <span th:text="${elem.mimeType}"></span><br/>
	      </span>

	      <span th:if="${elem.tags}">
		<b>Tags:</b> 
		<th:block th:each="tag : ${elem.tags}" th:switch="${tag.actor}">
              <span th:case="'KEA'" th:class="'label label-kea'" th:text="${tag.text}"></span>
		      <span th:case="*" th:class="'label label-default'" th:text="${tag.text}"></span>
        </th:block>
		<br />
	      </span>

	      <span th:if="${elem instanceof T(fi.hiit.dime.data.Message)}">
		<b>Date:</b> <span th:text="${elem.date}"></span><br/>
		<b>Subject:</b> <span th:text="${elem.subject}"></span><br/>
		<b>From:</b> <span th:text="${elem.fromString}"></span><br/>
		<b>To:</b> <span th:text="${elem.toString}"></span><br/>
		<b>Cc:</b> <span th:text="${elem.ccString}"></span><br/>
	      </span>
	      
	      <span th:if="${long}">
		 <b>Text content:</b> <pre th:text="${elem.plainTextContent}"></pre><br/>
	      </span>
	      <span th:unless="${long}">
		<b>Text content:</b> <pre th:text="${#strings.abbreviate(elem.plainTextContent,500)}"></pre><br/>
	      </span>
	  </p>
      </div>
    </div>
    
  <div th:replace="bootstrap :: js"></div>
</body>
</html>
