<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bootstrap :: head"></head>
<body>
  <div th:replace="bootstrap :: navbar (log)"></div>

    <div class="container">

      <div class="starter-template">

	<h1 th:text="'Digital Work Me with ' + ${count} + ' entries'"></h1>
        <h2 th:text="'Hello ' + ${currentUser.username} + '!'"></h2>

	<span th:each="event,iterStat : ${events}">
	  <hr/>
	  <p th:replace="event :: eventview (${event})"></p>
	</span>
      </div>
    </div>
    
  <div th:replace="bootstrap :: js"></div>
</body>
</html>
