<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bootstrap :: head"></head>
<body>
  <div th:replace="bootstrap :: navbar (log)"></div>

    <div class="container">

      <div class="starter-template">

	<h1 th:text="'You have logged ' + ${count} + ' events'"></h1>

	<div th:each="event,iterStat : ${events}" class="panel panel-default">
	  <div class="panel-heading">
	    <b th:text="${#strings.substringAfter(event.type,'#')}"></b>: 
	    <span th:text="${event.actor}"></span>
	    <a th:href="@{/event(id=${event.id})}" 
	       th:text="${event.start}" class="pull-right text-muted"></a>
	  </div>
	  <div class="panel-body">
	    <span th:if="${event instanceof T(fi.hiit.dime.data.ResourcedEvent)}">
	      <b th:text="${#strings.substringAfter(event.targettedResource.type,'#')}"></b>: <a th:href="${event.targettedResource.uri}" th:text="${event.targettedResource.uri}"></a><br/>

	    </span>
	  </div>
	</div>

      </div>
    </div>
    
  <div th:replace="bootstrap :: js"></div>
</body>
</html>
