<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bootstrap :: head"></head>
<body>
  <div th:replace="bootstrap :: navbar (infoelem)"></div>

    <div class="container">

      <div class="starter-template">

	  <p>
	      <b>Message:</b><br/>
	      <b>ID:</b> <a th:href="@{/message(id=${elem.id})}" th:text="${elem.id}"></a>
	      <b>URI:</b> <a th:href="${elem.uri}" 
			     th:text="${elem.uri}"></a><br/>
	      <span th:if="${elem.type}">
		<b>Type:</b> <a th:href="${elem.type}" 
				th:text="${#strings.substringAfter(elem.type,'#')}"></a>
	      </span>
	      <span th:if="${elem.isStoredAs}">
		<b>Stored as:</b> <a th:href="${elem.isStoredAs}" 
				      th:text="${#strings.substringAfter(elem.isStoredAs,'#')}"></a><br/>
	      </span>
	      <!-- <b>Mimetype:</b> <span th:text="${elem.mimeType}"></span> -->
	      <b>Subject:</b> <span th:text="${elem.subject}"></span><br/>
	      <b>From:</b> <span th:text="${elem.fromString}"></span><br/>
	      <b>To:</b> <span th:text="${elem.toString}"></span><br/>
	      <b>Cc:</b> <span th:text="${elem.ccString}"></span><br/>
	      <b>Text content:</b> <pre th:text="${elem.plainTextContent}"></pre><br/>
	  </p>
      </div>
    </div>
    
  <div th:replace="bootstrap :: js"></div>
</body>
</html>
