<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DiMe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <p th:text="'Hello, ' + ${name} + '!'" />

    <p th:each="event : ${events}">
      <b>ID:</b> <span th:text="${event.id}"></span>
      <b>Origin:</b> <span th:text="${event.origin}"></span>
      <b>Actor:</b> <span th:text="${event.actor}"></span><br/>
      <b>Interpretation:</b> <span th:text="${event.interpretation}"></span><br/>
      <b>Manifestation:</b> <span th:text="${event.manifestation}"></span><br/>
      <b>Timestamp:</b> <span th:text="${event.timestamp}"></span><br/>
      <b>Subject:</b><br/>
      <b>URI:</b> <span th:text="${event.subject_uri}"></span><br/>
      <b>Interpretation:</b> <span th:text="${event.subject_interpretation}"></span><br/>
      <b>Manifestation</b> <span th:text="${event.subject_manifestation}"></span><br/>
      <b>Mimetype:</b> <span th:text="${event.subject_mimetype}"></span>
      <b>Storage:</b> <span th:text="${event.subject_storage}"></span><br/>
      <b>Text:</b> <pre><span th:text="${event.subject_text}"></span></pre><br/>
</p>

</body>
</html>
