<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bootstrap :: head"></head>
<body>
  <div th:replace="bootstrap :: navbar (root)"></div>

  <div class="container">

    <div class="starter-template">

      <h1>Welcome to your friendly local Digital Work Me server!</h1>
      
      <div th:if="${#httpServletRequest.remoteUser}">
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Sign Out"/>
        </form>
      </div>
      
      <div th:unless="${#httpServletRequest.remoteUser}">
	<p>Please <a th:href="@{/login}">sign in</a> or
	<a th:href="@{/user/create}">register</a>.</p>
      </div>
    </div>
  </div>
    
  <div th:replace="bootstrap :: js"></div>
</body>
</html>
