<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bootstrap :: head"></head>
<body>
  <div th:replace="bootstrap :: navbar (search)"></div>
    <div class="container">
      <div class="starter-template">

	<h1>Search your DiMe</h1>

	<form class="form-inline" th:object="${search}" th:action="@{/search}"
	      method="get">
	  <div class="form-group col-xs-4">
	    <label class="sr-only" for="query">Text query</label>
	    <input style="width: 100%" type="text" class="form-control"
		   id="query" name="query" placeholder="Text query"
		   th:field="*{query}" autofocus="true" />
	  </div>
	  <button type="submit" class="btn btn-primary">Search</button>
	</form>

	<div th:if="${results}">
	  <p th:text="'Found ' + ${results.size()} + ' results.'"></p>
	  <span th:each="targettedResource,iterStat : ${results}">
	    <hr/>
	    <p>
	      [<span th:text="${iterStat.index}"></span>] 
	      <span th:unless="${targettedResource instanceof T(fi.hiit.dime.data.Message)}">
		<b>ID:</b> <a th:href="@{/infoelem(id=${targettedResource.id})}"
			      th:text="${targettedResource.id}"></a>
	      </span>
	      <span th:if="${targettedResource instanceof T(fi.hiit.dime.data.Message)}">
		<b>ID:</b> <a th:href="@{/message(id=${targettedResource.id})}"
			      th:text="${targettedResource.id}"></a>
	      </span>
	      <b>URI:</b> <a th:href="${targettedResource.uri}" 
			     th:text="${targettedResource.uri}"></a><br/>
	      <span th:if="${targettedResource.type}">
		<b>Type:</b> 
		<a th:href="${targettedResource.type}"
		   th:text="${#strings.substringAfter(targettedResource.type,'#')}"></a>
	      </span>
	      <span th:if="${targettedResource.type}">
		<b>Stored as:</b> 
		<a th:href="${targettedResource.isStoredAs}"
		   th:text="${#strings.substringAfter(targettedResource.isStoredAs,'#')}"></a><br/>
	      </span>
	      <span th:if="${targettedResource instanceof T(fi.hiit.dime.data.Message)}">
		<b>Date:</b> <span th:text="${targettedResource.date}"></span><br/>
		<b>Subject:</b> <span th:text="${targettedResource.subject}"></span><br/>
		<b>From:</b> <span th:text="${targettedResource.fromString}"></span><br/>
		<b>To:</b> <span th:text="${targettedResource.toString}"></span><br/>
		<b>Cc:</b> <span th:text="${targettedResource.ccString}"></span><br/>
	      </span>
	      <!-- <b>Mimetype:</b> <span th:text="${targettedResource.mimeType}"></span> -->
	      <b>Text:</b> <pre th:text="${#strings.abbreviate(targettedResource.plainTextContent,500)}"></pre><br/>
	    </p>
	  </span>
	</div>
      </div>
    </div>
  <div th:replace="bootstrap :: js"></div>
</body>
</html>
