<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bootstrap :: head"></head>
<body>
  <div th:replace="bootstrap :: navbar (search)"></div>
    <div class="container">
      <div class="starter-template">

	<h1>Search your DiMe</h1>

	<form class="form-inline" th:object="${search}" th:action="@{/search}"
	      method="get">
	  <div class="form-group col-xs-4">
	    <label class="sr-only" for="query">Text query</label>
	    <input style="width: 100%" type="text" class="form-control"
		   id="query" name="query" placeholder="Text query"
		   th:field="*{query}" autofocus="true" />
	  </div>
	  <button type="submit" class="btn btn-primary">Search</button>
	</form>

	<div th:if="${results}">
	  <p th:text="'Found ' + ${results.size()} + ' results.'"></p>
	  <span th:each="targettedResource,iterStat : ${results}">
	    <hr/>
	      <p th:replace="infoelem :: infoelemview (${targettedResource})"></p>
	  </span>
	</div>
      </div>
    </div>
  <div th:replace="bootstrap :: js"></div>
</body>
</html>
