<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bootstrap :: head"></head>
<body>
  <div th:replace="bootstrap :: navbar (user_create)"></div>

    <div class="container">

      <div class="starter-template">

	<h1>Register new user</h1>


	<form action="#" th:object="${form}" th:action="@{/user/create}" method="post">

	  <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
	    There were some problems in registering your account,
	    please fix the errors below.
	  </div>

	  <div class="form-group" name="username" th:errorclass="has-error">
	    <label class="control-label" for="username">User name</label>
	    <input type="text" class="form-control" id="username" name="username" 
		   th:field="*{username}" placeholder="User name"/>
	    <span id="helpBlock" class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
	  </div>
	  <div class="form-group" name="password" th:errorclass="has-error">
	    <label class="control-label" for="password">Password</label>
	    <input type="password" class="form-control" id="password" name="password"
		   placeholder="Password"/>
	    <span id="helpBlock" class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
	  </div>
	  <div class="form-group" name="passwordRepeated" th:errorclass="has-error">
	    <label class="control-label" for="passwordRepeated">Repeat</label>
	    <input type="password" class="form-control" id="passwordRepeated"
		   name="passwordRepeated" placeholder="Password again"/>
	    <span id="helpBlock" class="help-block" th:if="${#fields.hasErrors('passwordRepeated')}" th:errors="*{passwordRepeated}"></span>
	  </div>
	  <button type="submit" class="btn btn-default">Register</button>
	</form>


	  <!-- <div> -->
	  <!--   <label for="role">Role</label> -->
	  <!--   <select name="role" id="role" required> -->
	  <!--     <option <#if form.role == 'USER'>selected</#if>>USER</option> -->
	  <!--     <option <#if form.role == 'ADMIN'>selected</#if>>ADMIN</option> -->
	  <!--   </select> -->
	  <!-- </div> -->

      </div>
    </div>
    
  <div th:replace="bootstrap :: js"></div>
</body>
</html>
