
[DEFAULT]
dimepath: ~/java/dime-server

[General]
#hostname: foo

[DiMe]
server_url: http://localhost:8080/api
username: foo
password: bar

### LINUX-SPECIFIC: ###

[Zeitgeist]
use: no
nevents: 10
other_actors: acroread.desktop->Adobe Reader; 
	      kde4-okular.desktop->Okular
#blacklist: secret.org; passwords.txt

[Chrome]
use: no
interval: 60
nevents: 10
history_file: ~/.config/google-chrome/Default/History
blacklist: localhost; iltalehti.fi

[Chromium]
use: no
interval: 60
nevents: 10
history_file: ~/.config/chromium/Default/History

[Firefox]
use: no
interval: 60
nevents: 10
history_file: ~/.mozilla/firefox/XXXXXXXX.default/places.sqlite

[Indicator]
use: no
icon: %(dimepath)s/loggers/desktop/ReKnow_logo_rgb_icon.png

### MAC-SPECIFIC: ###

[Timing]
applescript_file: %(dimepath)s/loggers/desktop/timing.scpt
datafile:         %(dimepath)s/loggers/desktop/Data.json
timingfile: /tmp/Timing.json
usage_apps:  Preview; Adobe Reader; Skim;
	     Safari; Google Chrome
modify_apps: Aquamacs; Emacs; Word; Excel; Evernote;
	     AppleScript Editor
blacklist: localhost; chrome://; passwords.txt
 
###