
[General]
#hostname: foo

[DiMe]
server_url: http://localhost:8080/api
username: foo
password: bar

[Zeitgeist]
use: yes
nevents: 10
other_actors: acroread.desktop->Adobe Reader; kde4-okular.desktop->Okular
#blacklist: secret.txt; passwords.txt

[Chrome]
use: yes
interval: 60
nevents: 10
history_file: ~/.config/google-chrome/Default/History
blacklist: localhost; iltalehti.fi

[Chromium]
use: no
interval: 60
nevents: 10
history_file: ~/.config/chromium/Default/History

[Firefox]
use: no
interval: 60
nevents: 10
history_file: ~/.mozilla/firefox/XXXXXXXX.default/places.sqlite

[Indicator]
use: no
icon: ~/path/to/dime/loggers/desktop/ReKnow_logo_rgb_icon.png
 
