[Unit]
Description=Digital Me server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=$DIME_INSTALL_DIR/run-dime.sh

[Install]
WantedBy=default.target
