#DiMe server_url, username and password
server_url: http://localhost:8080/api
usrname: username
password: password

#Keylogger settings
time_interval: 30.0
#time_interval: 0.5
nspaces: 10
numwords: 50
data_update_interval: 600
updating_interval: 3600.0
nokeypress_interval: 3.0
#LinRel settings
mu: 1.0
#DiMe search settings
n_results: 60
